@font-face {
    font-display: optional;
    font-family: NKufi;
    font-weight: 400;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/kufi/v4/HandsetSansKufiArabic-Regular.woff2) format("woff2"), url(https://assets.nflxext.com/ffe/siteui/fonts/kufi/v4/HandsetSansKufiArabic-Regular.woff) format("woff")
}

@font-face {
    font-display: optional;
    font-family: NKufi;
    font-weight: 500;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/kufi/v4/HandsetSansKufiArabic-Bold.woff2) format("woff2"), url(https://assets.nflxext.com/ffe/siteui/fonts/kufi/v4/HandsetSansKufiArabic-Bold.woff) format("woff")
}

@font-face {
    font-display: optional;
    font-family: GraphikTH;
    font-weight: 400;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/graphik/v2/GraphikTH-Medium.woff2) format("woff2"), url(https://assets.nflxext.com/ffe/siteui/fonts/graphik/v2/GraphikTH-Medium.woff) format("woff")
}

@font-face {
    font-display: optional;
    font-family: GraphikTH;
    font-weight: 500;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/graphik/v2/GraphikTH-Bold.woff2) format("woff2"), url(https://assets.nflxext.com/ffe/siteui/fonts/graphik/v2/GraphikTH-Bold.woff) format("woff")
}


@font-face {
    font-display: optional;
    font-family: "Netflix Sans";
    font-weight: 400;
    src: url("NetflixSans_W_Rg.woff2") format("woff2")
}


* {
    font-family: sans-serif;
}


.bgGradient {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    ;
}

.bgOpacity {
    background: rgb(0 0 0 / 40%);
}

.netflixFont {
    font-family: "Netflix Sans" !important;
}

.fonttt {
    font-family: sans-serif;
}

.w-600 {
    width: calc(100% + 0.5rem)
}

.regStepLogo {
    background: url("../assets/img/regKomp.png") no-repeat 50% 50%;
    background-size: 260px;
    height: 90px;
}

.regChecLogo {
    background: url("../assets/img/Checkmark.png") no-repeat 50% 50%;
}

.paymentStepLogo {
    background: url("../assets/img/Lock.png") no-repeat 50% 50%;
}

.gradient1 {
    background: radial-gradient(140.76% 131.96% at 100% 100%, rgb(229, 9, 20) 0%, rgba(74, 42, 150, 0.5) 73.57%, rgba(74, 42, 150, 0) 100%), rgb(29, 82, 157);
}

.gradient2 {
    background: radial-gradient(140.76% 131.96% at 100% 100%, rgb(176, 56, 220) 0%, rgba(74, 42, 150, 0.5) 73.57%, rgba(74, 42, 150, 0) 100%), rgb(29, 82, 157);
}

.transition1 {
    transition: box-shadow 100ms ease-in-out 0s;
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 13px -3px; */
    border-right-color: rebeccapurple;
    border-bottom-color: rebeccapurple;
    border-left-color: rebeccapurple;
}

.redBg {
    background-color: #e50914;
}

.boxsh {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px 0px;
}

.gradProf {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
}

.bgQeribe {
    background: url("https://occ-0-7292-3466.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABaSDyOmI9CVwHQZRpDQD5lxC3U-GImjOYjxauu7CSePUj7188azM-yns7xkBjafHgxptMKf94SbauoG_s5jS3iHi5_Gd--DDFhnk.webp?r=567") center/cover;
}

.hoverElem1:hover #hoverDiv1,
.hoverElem2:hover #hoverDiv2,
.hoverElem3:hover #hoverDiv3 {
    display: block;
}

.swpierGradi {
    background: rgb(20,20,20);
    background: linear-gradient(0deg, rgba(20,20,20,1) 28%, rgba(255,255,255,0) 100%);
}

@media only screen and (min-width: 768px) {

    .loginBg {
        background: url("../assets/img/loginBg.jpg") center/cover;
    }

}